@media (max-width: 1283px) {
  .our-team-block {
    .container {
      width: 1000px;

      .title-and-sub-title__title {
        font-size: $lg-font;
      }

      .title-and-sub-title__sub-title {
        font-size: $sm-font;
      }

      .about-staff {

          .big-img {
            height: 380px;
          }

          .staff-gallery__wrapper {
            .staff-gallery__photo {
              width: 120px;
              height: 120px;

              .staff-gallery__hidden-name {
                display: none;
              }

              &:hover {
                .staff-gallery__hidden-name {
                  margin-top: 100px;
                }
              }
            }
          }
        }
      }
    }
  }



@media (max-width: 1000px) {
  .our-team-block {
    .container {
      width: 992px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 767px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 500px){
  .container{
    width: 100%;
  }
}
