@media (max-width: 1283px) {
  .form-block-wrapper {
    .container {
      width: 1000px;

      .title-and-sub-title__title {
        font-size: $lg-font;
      }

      .title-and-sub-title__sub-title {
        font-size: $sm-font;
      }

      .input-and-contact-info-wrapper{
        .input-wrapper{
          .input-email-wrapper{
            margin-left: 30px;
          }
        }
        .texarea-wrapper{
          .texarea-wrapper__message-area{
           width: 485px;
          }
        }

        .form-btn-wrapper{
          .form-btn-wrapper__btn{
            padding: 15px 185px;
          }
        }

        .info-content-wrapper{
          .info-wrapper{
            padding: 0 130px 0 70px;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .form-block-wrapper {
    .container {
      width: 992px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 767px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 500px){
  .container{
    width: 100%;
  }
}
