$width-content: 1283px;
$header-and-footer-color: #313030;
$header-and-main-preview-bg: #f6f2f2;
$btn_bg-and-border-color: #ff2d2d;
$line-color: #ff2d2d;
$tabs-color: #ff2d2d;
$images-color: #f5f0dd;
$services-title-and-text-color: #4c4c4c;
$gallery-tabs-color: #4c4c4c;
$staff-gallery__name-bg: #7a786e;
$input-bg-color: #e5e5e5;
$small-font: 14px;
$middle-font: 16px;
$services-title-font: 24px;
$large-font: 42px;

//variables for adaptive
$lg-font: 35px;
$sm-font: 14px;
$tabs-font: 18px;